@media only screen and (max-width: 37.5em) {


    header img {
        width: 65%;
        top: 0;
        left: 0;
    }
    
    nav {
        width: 100%;
	    margin: 0 0 1em 0;
	    padding: 0;
        text-align: center;
        background-color: #29C5DA;
        display: flex;
        flex-flow: column;
    }
    
    nav ul.hide {
        display: none;
    }
    
    nav ul {
        display: flex;
        flex-flow: column;
    }
    
    nav button {
        position: relative;
        background: none;
        border: none;
        font-size: 35px;
        color: #0e6470;
        text-align: right !important;
        
    }
    
    
    nav ul li {
        height: 50px;
        text-align: left;
    }
   
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li a:enabled {
        color: white !important;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a:active {
        color: white !important;
    }

  }